    <div id="sidebar" class="column grid_4">
      <h2 class="title">It's Easy To Get In Touch</h2>
      <div id="subscriptions" class="clear"> 
        <p>It's your choice - get the latest articles delivered for free to your reader or your inbox, track me down online or simply send me an email.</p>
        <a class="feed" href="http://feeds2.feedburner.com/sideline">Feed</a>
        <a class="mailfeed" href="http://feedburner.google.com/fb/a/mailverify?uri=sideline&amp;loc=en_US">Email Updates</a>
        <a class="twitter" href="http://twitter.com/mm53bar">Twitter</a>
        <a class="linkedin" href="http://linkedin.com/in/michaelmcclenaghan">LinkedIn</a>
        <a class="google" href="http://www.google.com/profiles/mm53bar">Google</a>
        <a class="email" href="http://mailhide.recaptcha.net/d?k=01WIVBVxw5AuOWaMBB5-jIsA==&c=pOykUpjcDztRxg6saA3M8YxJMyy9VpExHUZdxCJ0xQQ=">Email Me!</a>
      </div>
      <h2 class="title">Categories</h2>
      <div>
        <ul>
          <li><a href="/featured">Features</a></li>
          <li><a href="/asides">Asides</a></li>                    
        </ul>      
      </div>      
      <h2 class="title">Recent Articles</h2>
      <div>
        <ul>
          <% Serious::Article.all(:limit => 10).each do |article| %>
            <li><a href="<%= article.url %>"><%= article.title %></a></li>
          <% end %>
        </ul>      
      </div>
    </div> 
