    <div id="sidebar" class="column grid_4">
      <h2 class="title">Get Free Updates</h2>
      <div id="rss-feed" class="clear"> 
        <p>Get the latest and the greatest news delivered for free to your reader or your inbox:</p>
        <a class="rss" href="http://feeds2.feedburner.com/sideline">RSS Feed</a>
        <a class="email" href="http://feedburner.google.com/fb/a/mailverify?uri=sideline&amp;loc=en_US">Email Updates</a>
        <a class="twitter" href="http://twitter.com/mm53bar">Twitter</a>
      </div>
      <h2 class="title">Pages</h2>
      <div class="clear"> 
        <ul>
          <% Serious::Page.all.each do |page| %>
            <li><a href="<%= page.url %>"><%= page.title %></a></li>
          <% end %>
        </ul>
      </div> 
      <h2 class="title">Recent Articles</h2>
      <div>
        <ul>
          <% Serious::Article.all(:limit => 10).each do |article| %>
            <li><a href="<%= article.url %>"><%= article.title %></a></li>
          <% end %>
        </ul>      
      </div>
    </div> 
