<div class="description article">
  <h2>Welcome to Sideline.</h2>
  <p>Are you leading a software development team and having problems?  Are you managing a software project and starting to get a bad feeling about the outcome?  I've been there.</p>
  <p>I've spent the last decade developing software and building teams that develop software. For the most part, I've even managed to be successful at it.  This blog is all about the hints &amp; tips that I've learned along the way.  In addition, I'll probably chuck in some observations on the software development industry.</p>
  <p>Read along!</p>  
</div>