<% @page_type = 'home' %>
<div class="row description article">
  <h1 class="column grid_12 headline"><%= Serious.tagline %></h1>
</div>
<div class="row"> 
	<div class="column grid_4 article"> 
		<h2>Making software easier</h2> 
		<p>If users don't know what they want until they see it, why do project managers insist on so much documentation before the project even starts? Looking for a successful, lightweight approach that doesn't require a <a href="http://wikipedia.org?PMO">PMO</a>? Let's talk. &raquo;</p> 
	</div> 
	<div class="column grid_4 article"> 
		<h2>Building a software team?</h2> 
		<p>You need a good team if you want to make your users happy. Will you build that team organically or do you need to bring in some consultants to hit the ground running? Or maybe you need a hybrid approach? I can help. &raquo;</p> 
	</div> 
	<div class="column grid_4 article"> 
		<h2><a href="/articles">Just here for the articles</a></h2> 
		<p>Does the prospect of discussing your software team over a coffee intimidate you? No problem! Just read through some of my past articles. Then <a href="http://tungle.me/sideline">let's meet for a coffee</a> once you realize that there are lots of software teams that need help. <a href="/articles">&raquo;</a></p> 
	</div> 
</div>